#drawings-of-you-users .window-content {
    background: rgba(1, 1, 1, 0.1);
}

.drawings-of-you {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.drawings-of-you .user {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: 0 0 3px dimgray;
    border: 1px solid var(--color-border-dark);
    border-radius: 5px;
    overflow: hidden;
    height: 135px;
    background-color: rgb(12 12 12 / 24%);
    margin-bottom: 10px;
}

.drawings-of-you .user:hover {
    box-shadow: 0 0 3px red;
}

.drawings-of-you .user.active {
    border-color: darkorange;
    background-color: rgb(255 153 0 / 35%);
}

.drawings-of-you img {
    width: 100px;
    height: 100px;
    border-width: 2px;
    border-radius: 5px;
    object-fit: contain;
}

.drawings-of-you label {
    text-align: center;
    max-width: 100px;
    margin-top: 6px;
    color: white;
}

/* HUD */

.drawings-of-you-hud {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: -50px;
}

.drawings-of-you-hud .control-icon {
    margin-top: 0;
    margin-right: 3px;
}

.drawings-of-you-hud .control-icon img {
    object-fit: contain;
}

.drawings-of-you-hud .control-icon.active {
    border-color: darkorange;
}
